.text-color {
  color: #00A699;
}
.text-type-js {
  color: #fff!important;
}

.logo-v-a {
  background-image: url(/app/assets/images/favicon-32x32.png);
  background-size: contain;
  margin-left: 50px;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
}
