<section class="container-log vh-100" id="services">
  <div  class="wrapper-offers">
    <div class="service-cards">
      <div class="service-card ui">
        <%= render "form", assistant: @assistant %>
      </div>
    </div>
  </div>
</section>
