<!-- Footer -->
<footer>
  <ul class="nav justify-content-center">
    <li class="nav-item"><a href="#"><i class="fab fa-github"></i></a></li>
    <li class="nav-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
    <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li class="nav-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
  </ul>
  <p class="text-center text-muted pt-4 m-0">© 2022 Design by: Micaela, Ignacio & Cédric</p>
</footer>
<!-- Footer -->
