.footer-border-bottom-color {
  border: solid 1.5px transparent;
  border-bottom-color: #9696960e;
}
footer a {
  text-decoration: none;
  color: #16be8d;
}
footer a i {
  font-size: 1.5rem;
}
footer {
  background-color: #212529;
  color: white;
  text-align: center;
}
