
.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.logos-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos img {
  max-width: 100%;
  height: auto;
}
